<%- include('../partials/header'); %>
<main class="main main-home container">
    <h2 class="home-header text-center">
        welcome to the coffe extravganza!!!
    </h2>
    <img src="/media/coffee.jpg" alt="home image" class="image-fluid">
</main>
<%- include('../partials/footer'); %>